<header>
  <nav class="container mx-auto max-w-3xl px-8 pt-2 flex flex-wrap justify-between">
  <div>
    <h1>
    <a href="{{ site.baseUrl }}">
      <span class="logo-start">{{ site.logo.start }}</span>
      <span class="logo-end">{{ site.logo.end }}</span>
    </a>
    </h1>
    <p>{{site.description}}</p>
  </div>

  <ul class="flex flex-wrap sm:w-48 w-full mt-6 md:justify-between justify-evenly">
    <li>
      <a href="{{ site.baseUrl }}posts">Blog</a>
    </li>
    <li>
      <a href="{{ site.baseUrl }}projects">Projects</a>
    </li>
  </ul>
  </nav>
</header>
