<div>
  {% for project in collections.sortedProjects %}
    <div class="mb-8 border-dotted border-b pb-8 border-gray-300">
      <h2>
        <a href="{{ project.url | url }}">{{ project.data.title }}</a>
        <span class="float-right project-status {{ project.data.status | slug }}">
          {{ project.data.status }}
        </span>
      </h2>

      <div class="flex">
        {%- if project.data.logo -%}
          <img
            class="project-logo mr-4 mt-4"
            src="{{ site.baseUrl }}project-logos/{{ project.data.logo.name }}"
            alt="{{ project.data.logo.description }}"
          />
        {%- endif -%}

        <p class="summary flex-grow">{{ project.data.summary }}</p>
      </div>
    </div>
  {% endfor %}
</div>
