<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2">
  <a class="tag software-development mx-auto" href="{{ site.baseUrl }}posts/tag/software-development">software-development</a>
  <a class="tag side-project mx-auto" href="{{ site.baseUrl }}posts/tag/side-project">side-project</a>
  <a class="tag writing mx-auto" href="{{ site.baseUrl }}posts/tag/writing">writing</a>
  <a class="tag communication mx-auto" href="{{ site.baseUrl }}posts/tag/communication">communication</a>
</div>
