<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2">
  {% for tag in collections.visibleTags %}
    <a
      class="tag {{ tag }} mx-auto"
      href="{{ site.baseUrl }}posts/tag/{{ tag }}"
    >
      {{ tag }}
    </a>
  {% endfor %}
</div>
