---
permalink: "{% if path %}{{ path | slug }}{% else %}{{'/projects/'}}{{ title | slug }}{% endif %}/index.html"
---

{% extends 'page.njk' %}

{% block body %}
  <div>
    <h2>{{ title }}</h2>

    {% if summary %}
      <div class="flex border-dotted border-b pb-2 border-gray-300">
        {%- if logo -%}
          <img
            class="project-logo mr-4 mt-4"
            src="{{ site.baseUrl }}project-logos/{{ logo.name }}"
            alt="{{ logo.description }}"
          />
        {%- endif -%}

        <p class="summary flex-grow">{{ summary }}</p>
      </div>
    {% endif %}

    <ul class="flex flex-wrap w-full mt-2 pb-2 md:justify-between justify-evenly border-dotted border-b border-gray-300">
      <li>
        <span>Status:</span>
        <span class="ml-1 project-status {{ status | slug }}">
          {{ status }}
        </span>
      </li>

      {% if project_url %}
        <li>
          <a href="{{ project_url }}">Project URL</a>
        </li>
      {%- endif -%}

      {% if github_url %}
        <li>
          <a class="github" href="{{ github_url }}">GitHub URL</a>
        </li>
      {%- endif -%}
    </ul>

    <div class="content project">
      {{ content | safe }}
    </div>
  </div>
{% endblock %}
