/* Font (see https://fonts.google.com) */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

/* Prism Code Highlighting Theme (see https://prismjs.com) */
@import url("https://cdn.jsdelivr.net/npm/prism-themes@1.5.0/themes/prism-dracula.css");

:not(pre) > code[class*="language-"] {
  /* Fixes issue where theme removes indentation. */
  white-space: pre;
}

:root {
  --background-colour: #2e2e2e;
  --comment-colour: #797979;
  --white: #d6d6d6;
  --yellow: #e5b567;
  --green: #b4d273;
  --orange: #e87d3e;
  --purple: #9e86c8;
  --pink: #b05279;
  --blue: #6c99bb;

  --primary-colour: var(--yellow);
  --secondary-colour: var(--blue);
  --text-colour: var(--white);
}

.text-colour {
  color: var(--text-colour);
}

.primary-colour {
  color: var(--primary-colour);
}

.secondary-colour {
  color: var(--secondary-colour);
}

.logo-start {
  color: var(--text-colour);
}

.logo-end {
  color: var(--comment-colour);
}

html,
body {
  @apply antialiased;
  background-color: var(--background-colour);
  color: var(--text-colour);
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold leading-tight mt-3;
  color: var(--primary-colour);
}

h1 {
  @apply text-5xl pt-6;
}

h2 {
  @apply text-3xl pt-5;
}

h3 {
  @apply text-2xl pt-4;
}

h4 {
  @apply text-xl pt-3;
}

a {
  @apply font-bold;
  color: var(--blue);
}

a:hover {
  @apply underline;
}

p {
  @apply text-lg my-2;
}

pre {
  @apply my-2 text-sm tracking-wider break-words;
  border-radius: 25px;
}

hr {
  @apply mt-4 mb-2 border-dotted border-b border-gray-300;
}

.toc {
  @apply content;
}

.toc > ol {
  @apply mt-2;
}

.toc > ol > li {
  font-size: 1em;
}

.attribution {
  @apply text-right -mt-8 text-sm;
}

.attribution::before {
  content: "— ";
}

.content > blockquote {
  border-left: 0.5rem solid var(--secondary-colour);
  padding: 0.5em 1em;
}

.content > img {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 100%;
  min-width: 100px;
}

.content > ul {
  list-style-type: disc;
}

.content > ol {
  list-style-type: decimal;
}

.content > ol > li,
.content > ul > li {
  @apply text-lg ml-6 pr-2 pl-2 mt-2;
}

.content > p {
  @apply pt-3;
}

.excerpt,
.summary {
  @apply my-3;
}

.next-page,
.previous-page,
.first-page,
.last-page {
  @apply font-bold whitespace-nowrap text-center;
}

.next-page::after {
  content: " ►";
}

.previous-page::before {
  content: "◄ ";
}

.first-page::before {
  content: "| ";
}

.last-page::after {
  content: " |";
}

.top-notice {
  @apply sticky top-0 flex justify-center bg-blue-600 py-1 -mt-1 text-sm;
}

.top-notice > a::before {
  content: "🔥 ";
}

.top-notice > a::after {
  content: " 🔥";
}

.date {
  color: var(--comment-colour);
}

.comment {
  color: var(--comment-colour);
  font-style: italic;
}

.comment:hover {
  color: var(--secondary-colour);
}

.comment::before {
  content: "(";
}

.comment::after {
  content: ")";
}

.project-logo {
  height: 50px;
  width: auto;
  display: inline-block;
}

.project-status {
  display: inline;
  color: var(--text-colour);
  font-weight: bold;
  font-size: 1.4rem;
  font-style: italic;
  border-radius: 5px;
}

.project-status.finished {
  color: var(--blue);
}

.project-status.abandoned {
  color: var(--pink);
}

.project-status.in-progress {
  color: var(--green);
}

.project-status.maintained {
  color: var(--purple);
}
